@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarioactual = Session["usuarioactual"] as Practico.Models.UserModel;
}

<h2>Inicio</h2>



@if (usuarioactual == null)
{
<form method="post" action="@Url.Action("Login")">


<fieldset>
    <p><label>Usuario</label><input type="text" name = "NombreUsuario" /></p>
    <p><label>Clave</label><input type="password" name ="ClaveAcceso" /></p>
    <input type="submit" />
</fieldset>
</form>
}
else
{@:return RedirectToAction("Index");
 }

}